@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



/* GENERAL */
.textsty1{
  font-family: 'Poppins', sans-serif;
}
.psty{
  font-size: 16px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}
.psty2{
  font-size: 14px;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}
.bg-quinary{
  background-color: #CFCCE9;
}

.espacio1{
  height: 250px;
}
@media only screen and (max-width: 992px){
  .espacio1{
    height: 150px;
  }
}


/* BAR 1*/
.barsty1{
  z-index: 3;
}

/* BAR 2*/
.barsty2{
  z-index: 1;
}


/* NAV BACK */
.navbacksty{
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #57606f;
  opacity: 0.5;
  z-index: 1;
}
@media only screen and (max-width: 992px){
  .navbacksty{
    height: 80px;
  }
}

/* NAVBAR 1*/
.navbarsty1{
  background-color: none;
  z-index: 3;
}

/* NAVBAR 2*/
.navbarsty2{
  background-color: white;
  border-bottom: 1px solid #ced6e0;
  z-index: 3;
  z-index: 1;
}

.navbtn1sty{
  background-color: #01FFA5;
}
.navlogosty{
  color: black;
}
.navtextsty{
  color: white;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
}
.navtextsty2{
  color: #57606f;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 500;
}
.navtextstybtn{
  color: black;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
}
.navtextsty:hover{
  color: #01FFA5;
  transition: 0.3s;
}
.navtextsty2:hover{
  color: #01FFA5;
  transition: 0.3s;
}
@media only screen and (max-width: 992px){
  .navbarsty{
    /* background-color: #4E07E3; */
  }
  .navbarsty2{
    background-color: black;
  }
  .navbtn1sty{
    background-color: rgba(0,0,0,0);
  }
  .navlogosty{
    color: white;
  }
  .navtextsty{
    color: #dfe4ea; 
    text-align: center;
    /* font-weight: bold; */
  }
  .navtextsty:hover{
    color: #01FFA5; 
  }
  .navtextsty2{
    color: white;
  }
  .navtextsty2:hover{
    color: #01FFA5; 
  }
  .navtextstybtn{
    color: white;
  }
  .menusty{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* height: auto; */
    position: relative;
    /* top: 50px; */
    /* border-radius: 15px; */
  }
  .droptextsty{
    color: white;
  }
}

/* FRONT PAGE */
.frontsty{
  z-index: 2;
  position: relative;
}
.contvideosty{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.videosty{
  position: relative;
  top: 50%; /*probando*/
  left: 50%; /*probando*/
  overflow: hidden; 
  object-fit: cover;  /* esta es la clave */
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%); /**/
}


/* CAROUSEL */
.carouselImgSty{
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 992px){
  .carouselImgSty{
    width: auto;
    /* height: 100%;  */
  }
}

/* SERVICIOS */
.box1sty{
  border: 3px solid #01FFA5;
  border-radius: 15px;
  /* position: relative; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  padding: 0 0 30px 0;
}
.box1sty:hover{
  box-shadow: 0px 0px 10px gray;
  cursor: pointer;
  transition: 0.3s;
}

/* INICIO CONSULTA NUTRICIONAL */
.video2sty{
  width: 60%;
}
@media only screen and (max-width: 992px){
  .video2sty{
    width: 100%
  }
}

/* CUERPO */

.btnsty{
  width: 50%;
}
.imgsty{
  width: 75%;
}
.imgsty2{
  width: 75%;
}
.textJustify{
  text-align: justify;
}
@media only screen and (max-width: 992px){
  .btnsty{
    width: 50%
  }
  .imgsty{
    width: 75%;
  }
  .imgsty2{
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .btnsty{
    width: 100%
  }
  .imgsty{
    width: 100%;
  }
}

/* ASESORIAS */

.boxsty{
  height: auto;
}
@media only screen and (min-width: 992px){
  .boxsty{
    height: 100%;
  }
}
.imgMedSty{
    box-shadow: 0px 0px 8px #888888;
    transition: 0.5s;
}
.imgMedSty:hover{
    box-shadow: 0px 0px 15px black;
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}
.msjBoxSty{
  width: 75%;
  font-size: 18px;
  text-align: justify;
}
@media only screen and (max-width: 992px){
  .msjBoxSty{
    width: 100%;
  }
}
.valorsty{
  background-color: #01FFA5;
  padding: 8px 10px;
  font-size: 14px;
  font-weight: bold;
  color: #4E07E3;
  border-radius: 5px;
  position: absolute;
  bottom: -15px;
  opacity: 0.8;
  transition: 0.3s;
}
.valorsty:hover{
  /* font-size: 16px; */
  transition: 0.3s;
  cursor: pointer;
  opacity: 1;
}


/* PDF */

.pdfsty{
  width: 100%;
  height: 100vh;
}

.btnAgendar{
  width: 30%;
}
@media only screen and (max-width: 992px){
  .btnAgendar{
    width: 100%;
  }
}

/* ARTICULOS */

.artsty{
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.artboxsty{
  height: 80px;
  background-color: #01FFA5;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.artboxsty:hover{
  opacity: 0.8;
  transform: 0.3s;
}